.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    width: 100vw;
    background-color: #010101;
    /*overflow-y: scroll;*/
}

.form-container {
    color: #010101;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    max-width: 450px;
    width: 95vw;
    background-color: #ffffff;
}

.form-container form {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}